DJANGO_DEBUG=True
DJANGO_SECRET_KEY=replace-this-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_DB_BACKEND=sqlite
DJANGO_DB_NAME=db.sqlite3
# DJANGO_DB_USER=beenthere
# DJANGO_DB_PASSWORD=change-me
# DJANGO_DB_HOST=localhost
# DJANGO_DB_PORT=5432
