<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Been There</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col text-success">
        {{subtitle | safe}}
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col text-success">
          <p class="bg-white text-secondary">Welcome to Been There!</p>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
  </div>
</body>
</html>